::ng-deep #title {
          font-weight: bold;
          min-height: 20px;
          color: maroon;
}

// ::ng-deep #button {
//           display: flex;
//           flex-wrap: wrap;
//           justify-content: center;
// }