::ng-deep table.minimalistBlack {
          border: 2px double navy;
          width: 100%;
          height: 90px;
          text-align: center;
          border-collapse: collapse;
          margin: 0px 10px 10px 0px;
}

::ng-deep table.minimalistBlack td,
table.minimalistBlack th {
          border: 1px solid navy;
          padding: 3px 2px;
          font-size: 14px;
}

::ng-deep table.minimalistBlack tbody td {
          font-size: 14px;
          font-family: 'Times New Roman', Times, serif
}