::ng-deep #htmlData{
    margin: 0px 10px 0px 10px;
}

::ng-deep #disclaimer{
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
 }

 ::ng-deep #dateLine{
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-top: 60px;
    margin-left: 10px;
 }