<div *ngIf="user" class="box">
  <dx-select-box id="companyList" width="200" [dataSource]="companies" displayExpr="companyName" [searchEnabled]="false"
    [showClearButton]="false" [(ngModel)]="selectedCompany" (onValueChanged)="changeCompany()"
    placeholder="Change Company">
  </dx-select-box>
  <tc-dropdown class="item" [close]="closeDropdown">
    <tc-dropdown-button>
      <div class="avatar-box d-flex align-items-center">
        <!-- <div class="name text-nowrap d-none d-md-block">{{user?.userName}}</div> -->
        <div class="name text-nowrap d-none d-md-block">{{user?.userName}} ({{user?.company.companyName}})</div>
      </div>
    </tc-dropdown-button>

    <tc-dropdown-content [align]="appSettings.rtl ? 'left' : 'right'" [animation]="'fadeInUp'" [offset]="[8, 0]"
      [width]="160">
      <ul class="menu-list">
        <li>
          <a href="#" (click)="goTo($event, 'deposits', '../extra/')">
            <tc-icon [iconClass]="'sli-folder'" [tcFontSize]="16" [padding]="0" class="ml-1 mr-1"></tc-icon>
            <span class="ml-1 mr-1 pt-1">My Deposits</span>
          </a>
          <a href="#" (click)="goTo($event, 'roles', '../extra/')">
            <tc-icon [iconClass]="'sli-home'" [tcFontSize]="16" [padding]="0" class="ml-1 mr-1"></tc-icon>
            <span class="ml-1 mr-1 pt-1">My Profile</span>
          </a>
        </li>
        <!-- <li>
        <a href="#" (click)="goTo($event, 'logout', '../extra/')">
          <tc-icon [iconClass]="'sli-logout'" [tcFontSize]="16" [padding]="0" class="ml-1 mr-1"></tc-icon>
          <span class="ml-1 mr-1 pt-1">Log Out</span>
        </a>
      </li> -->
      </ul>
    </tc-dropdown-content>
  </tc-dropdown>
</div>
<!-- <div class="dx-field-value">
  <dx-button id="exitButton" icon="runner" (onClick)="logoutClicked()">
  </dx-button>
</div> -->