::ng-deep .footerText{
    font-size: 18px;
    color: maroon;
    font-weight: bold;
    text-align: right;
}

::ng-deep .headerText{
    font-size: 16px;
    color: maroon;
    font-weight: bold;
}


