<button class="close-button" mat-button (click)="CloseClick()">X</button>
<p>Client Contact Editor</p>
<div class="row" *ngIf="errorMessage">
    <div class="col col-sm-6 col-md-8 col-lg-12">
        <tc-alert [removable]="true" [view]="'error'">
            {{ errorMessage }}
        </tc-alert>
    </div>
</div>
<dx-data-grid [showBorders]="true" class="invoiceGrid gridContainer" [dataSource]="clientContacts" keyExpr="contactId"
    [showBorders]="true" (onRowUpdated)="clientContactUpdated($event)" (onRowRemoved)="clientContactDeleted($event)"
    (onRowInserted)="clientContactAdded($event)">
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing mode="batch" [allowUpdating]="true" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
        [useIcons]="true">
    </dxo-editing>
    <dxi-column dataField="fullName">
        <dxi-validation-rule type="required">
        </dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="position" [width]="200">
    </dxi-column>
    <dxi-column dataField="phone" [width]="150">
    </dxi-column>
    <dxi-column dataField="email" [width]="250">
        <dxi-validation-rule type="email"></dxi-validation-rule>
    </dxi-column>
</dx-data-grid>