#contactsContainer {
          max-height: 100px;
          min-height: 100px;
}

#clientRow {
          border: #4C5268;
          border-style: double;
          margin: 0px -14px 5px -14px;
          background-color: #4C5268;
}