<button class="close-button" mat-button (click)="CloseClick()">X</button>
<p>Client Commissions Editors</p>
<dx-data-grid [showBorders]="true" class="invoiceGrid gridContainer" [dataSource]="clientCommissions" keyExpr="id"
          [showBorders]="true" (onRowUpdated)="clientCommissionUpdated($event)"
          (onRowRemoved)="clientCommissionDeleted($event)" (onRowInserted)="clientCommissionAdded($event)">
          <dxo-paging [enabled]="false"></dxo-paging>
          <dxo-editing mode="batch" [allowUpdating]="true" [allowAdding]="true" [allowUpdating]="true"
                    [allowDeleting]="true" [useIcons]="true">
          </dxo-editing>
          <dxi-column dataField="categoryId" caption="Category" alignment="center">
                    <dxo-lookup [dataSource]="categories " displayExpr="categoryName" valueExpr="categoryId">
                    </dxo-lookup>
                    <dxi-validation-rule type="required">
                    </dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="startDate" caption="Start Date" alignment="center" dataType="date">
            <dxi-validation-rule type="required">
            </dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="commissionPercentage" [width]="150" dataType="number">
                    <dxo-format type="fixedPoint" [precision]="2">
                    </dxo-format>
                    <dxi-validation-rule type="required">
                    </dxi-validation-rule>
          </dxi-column>
</dx-data-grid>