<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#po-home' }"
    [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true"
    [closeOnOutsideClick]="false">
</dx-load-panel>

<div class="container-fluid" id="po-home">
	<div class="row">
		<div class="col-md-5">
            <tc-card [title]="'Open Orders'" id="openOrders" [padding]="2">
                <div class="box" id="filterBar">
                    <dx-select-box class="actioncontrols"  [(ngModel)]="selectedVendor" [dataSource]="vendors" displayExpr="vendorName"
                        [searchEnabled]="true" [showClearButton]=true 
                        placeholder="Select Vendor...">
                    </dx-select-box>
            
                    <dx-button class="actioncontrols"  icon="add" id="addButton" stylingMode="contained" (onClick)="addPo()" width="50">
                    </dx-button>

                    <dx-date-box class="actioncontrols" [(ngModel)]="startDate" type="date"> </dx-date-box>

                    <dx-button class="actioncontrols"  icon="add"  stylingMode="contained" (onClick)="addAutoPo()" width="50">
                    </dx-button>

                    <dx-button class="actioncontrols" icon="fa fa-refresh" id="clearButton" stylingMode="contained" (onClick)="refreshPage()" width="50">
                    </dx-button>
                </div>
                <dx-data-grid class="gridContainer" id="gridPurchaseOrders" [dataSource]="purchaseOrders"
                    [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
                    [height]="gridHeight" [showBorders]="true" keyExpr="poId" [focusedRowEnabled]="true"
                    (onFocusedRowChanged)="poFocusChanged($event)">
                    
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-scrolling mode="infinite"></dxo-scrolling>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxi-column dataField="docType" caption="Type" [groupIndex]="0"></dxi-column>
                    <!-- <dxi-column dataField="type"  width="120" alignment="center" [groupIndex]="0">
                    </dxi-column> -->
                    <dxi-column dataField="poId" [visible]="false" alignment="center" width="60"></dxi-column>
                    <dxi-column dataField="poNumber" caption="#" alignment="center" width="60"></dxi-column>
                    <dxi-column dataField="createdDate" dataType="datetime" sortOrder="asc" alignment="center"
                        format="dd-MMM-yyyy HH:mm:ss" width="180">
                    </dxi-column>
                    <dxi-column dataField="vendorName" alignment="center"></dxi-column>
                    <dxi-column dataField="poStatusTxt" caption="Status" alignment="center" width="120">
                    </dxi-column>
                    <dxi-column dataField="createdBy" caption="Created By" alignment="center" width="120">
                    </dxi-column>
                    <dxi-column dataField="productCount" alignment="center" caption="# Products" width="100">
                    </dxi-column>
                    <dxi-column dataField="poAmount" alignment="right" caption="Total($)" width="100" format="currency">
                        <dxo-format type="fixedPoint" [precision]="2" >
                        </dxo-format>
                    </dxi-column>
                    <dxi-column type="buttons" [width]="120">
                        <dxi-button id="editButton"  icon="edit" hint="edit" [onClick]="editPoClick"></dxi-button>
                        <dxi-button id="deleteButton"  icon="clear" hint="delete" [onClick]="deletePoClick"></dxi-button>
                        <dxi-button id="sendButton" icon="upload" hint="send" [onClick]="sendPoClick"></dxi-button>
                    </dxi-column>
                    <!-- <dxi-column dataField="orderNotes" alignment="center">
                    </dxi-column> -->
                </dx-data-grid>
            </tc-card>
		</div>
		<div class="col-md-7">
            <tc-card [title]="'Account Payables'" [padding]="2">
               
            </tc-card>

            <tc-card [title]="'Payable Details'"  [padding]="2">
               
            </tc-card>
		</div>
	</div>
</div>


